<!--Template file to display the image requested with nothing else on the page to allow the user to use the image in
other website if the wish-->
<html>
<body><img src="data:image/png;base64,{{.Id}}"></body>
</html>