<!DOCTYPE>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../public/js/index.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <script>
        $(document).ready(function(){

            var n = "{{.Auth}}";

            if (n !="null") {
                document.getElementById("Reg").style.visibility='hidden';
                document.getElementById("Log").innerHTML = "<a href='/Logout'>Logout</a>";
            }
            else {
                document.getElementById("Reg").innerHTML = "<a href='/Registration'>Register</a>";
                document.getElementById("Log").innerHTML = "<a href='/Login'>Login</a>";
            }
            var obj = JSON.parse("{{.ImageList}}");
            var inHTML = "";
            $.each(obj, function(index, value) {
                var newItem =
                        "<div class='col-lg-3 col-md-4 col-xs-6 thumb'>" +
                        "<a class='thumbnail' href='http://127.0.0.1:8080/search/"+value.imageid+"'>" +
                        "<img class='img-responsive' src='data:image/png;base64,"+value.encoded+"'>" +
                        "<div class='caption'><p>"+value.filename+"</p>" +
                        "</div>" +
                        "</a>" +
                        "</div>";

                //var newItem = "<p>" + value.imageid +" "+ value.filename +" "+ value.encoded +" "+ value.user +" "+ "</p>";
                inHTML += newItem;
            });
            $("#ImagesGallery").html(inHTML); //add generated tr html to corresponding table


        });



    </script>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home">ImageBucket</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/MyImages">My Images</a></li>
                    <li id="Reg"></li>
                    <li id="Log"></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</head>
<body>
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Gallery</h1>
        </div>
        <div id="ImagesGallery">
        </div>
    </div>
</div>
<div id="Test"></div>
</body>
</html>